<div class="row">
      <div class="col-lg-4 col-xl-3 col-xxl-2 card" style="border-radius: 10px 90px 90px 10px;">
          <nav class="sidebar-wrapper">
              <div class="sidebar-brand">
                <a href="index.html" class="logo">
                  <img src="assets/sqllabs-logo-dark.png" alt="Document Ledger" />
                </a>
              </div>
              <div class="sidebar-menu">
                <div class="sidebarMenuScroll">
                      <div class="flex-shrink-0 p-0 bg-white">
                          <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                            <span class="fs-5 fw-semibold"> &nbsp; &nbsp; Document Ledger</span>
                          </a>
                          <ul class="list-unstyled ps-0">
                            <li class="mb-1">
                              <button [routerLink]="['/sadmin']" class="btn align-items-center rounded">
                                <i class="bi bi-house-add"></i><span class="p-3">Home</span>
                              </button>
                            </li>
                            <li class="mb-1">
                              <button [routerLink]="['/workspaces']" class="btn align-items-center rounded">
                                <i class="bi bi-file-lock"></i><span class="p-3">Workspaces</span>
                              </button>
                            </li>
                            <li class="mb-1">
                              <button [routerLink]="['/documents']" class="btn btn-toggle align-items-center rounded">
                                <i class="bi bi-file-earmark-richtext"></i><span class="p-3">Documents</span>
                              </button>
                            </li>
                            <li class="mb-1">
                              <button [routerLink]="['/team']" class="btn btn-toggle align-items-center rounded">
                                <i class="bi bi-file-person"></i><span class="p-3">Collaborators</span>
                              </button>
                            </li>
                            <li class="mb-1">
                              <button [routerLink]="['/shared']" class="btn btn-toggle align-items-center rounded">
                                <i class="bi bi-send-check"></i><span class="p-3">Share Out</span>
                              </button>
                            </li>
                            <li class="mb-1">
                              <button [routerLink]="['/inboxes']" class="btn btn-toggle align-items-center rounded">
                                <i class="bi bi-inboxes"></i><span class="p-3">Shared In</span>
                              </button>
                            </li>
                            <li class="mb-1">
                              <button [routerLink]="['/templates']" class="btn btn-toggle align-items-center rounded">
                                <i class="bi bi-gear"></i><span class="p-3">Admin</span>
                              </button>
                            </li>
                            <li class="mb-1">
                              <button [routerLink]="['/']" class="btn btn-toggle align-items-center rounded">
                                <i class="bi bi-gear"></i><span class="p-3">Settings</span>
                              </button>
                            </li>
                            <li class="mb-1">
                              <button [routerLink]="['/']" class="btn btn-toggle align-items-center rounded">
                                <span class="p-3">Logout</span>
                              </button>
                            </li>
                          </ul>
                        </div>
                </div>
              </div>    
            </nav>        
      </div>
  <div class="col-lg-8 col-xl-9 col-xxl-10">
<sql-add-table [title]="'Workspaces'" [sql]="'select * from doc_workspace'">
    <th #column id="id">id</th>
    <th #column id="create_timestamp">Timestamp</th>
    <th #column id="user_full_name">Created By</th>
    <th #column id="workgroup_name">Workgroup</th>
    <th #column id="workspace_name">Workspace</th>
    <th #column id="workspace_dsc">Description</th>
    <th #column id="doc_count">Documents</th>
    <th #column id="user_count">Collaborators</th>
    <th #column id="share_count">Shares</th>
      <div form>
            <app-doc-workspace-form></app-doc-workspace-form>
      </div>
</sql-add-table>
</div>
</div>