<sql-form 
 [table]="'doc_whitelist'" [embedded]="'Y'"
 [title]="'Add/Edit Whitelist'"
 [id]="'0'" [id2]="''" [id3]="''"
 [default_col]= "''" [default_value]="''">
  
<div class="row">
<div class="col-sm-12 col-lg-6 col-xl-6">
    <sql-input [col]="'from_email'" [style]="'width:95%;'" [label]="'From Email'">
    </sql-input>
</div>
<div class="col-sm-12 col-lg-6 col-xl-6">
    <sql-input [col]="'to_email'" [style]="'width:95%;'" [label]="'To Email (* for all)'">
    </sql-input>
   <sql-submit></sql-submit><sql-delete></sql-delete>
<div class="row">
<div class="col-sm-12">
</div>
</div>
</div>
</div>
</sql-form>

