<div class="container-fluid main-container" style="margin-left: -20px;">
    <div *ngIf="data.hideHeader=='N'" class="row">
        <div class="d-none d-sm-none d-lg-none d-xl-block col-12">
            <app-page-header></app-page-header>
        </div>
    </div>
<!--   <div class="row">
        <div *ngIf="data.hideNav=='N'" class="d-none d-sm-none d-lg-none d-xl-block" [style]="leftStyle">
                <app-sitebar-wrapper></app-sitebar-wrapper>
        </div>
        <div [style]="contentStyle">
                <router-outlet></router-outlet>
                 <app-page-footer></app-page-footer> 
        </div>
</div> -->
<div class="row">
    <div class="col-12">
        <router-outlet></router-outlet>
        <app-page-footer></app-page-footer> 
    </div>
</div>
</div>
