<h2>Upload Document</h2>
    <file-upload class="fileUpload"  
            (ngFileDrop)="drop();" 
            [control]="fileUploadControl" 
            [(ngModel)]="uploadedFiles" 
            name="files"></file-upload>
            <div [innerHTML]="uploadedList"></div>
            <div class="progress form-group" *ngIf="progress > 0">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                </div>
            </div>
    <div class="row p-2">
        <div class="col-4"></div>
        <div class="col-2"></div>
        <div class="col-2"><button (click)="uploadFiles()" class="btn btn-secondary">Upload</button></div>
        </div>