<div class="row">
  <div class="col-lg-4 col-xl-3 col-xxl-2">
    <app-sitebar-wrapper></app-sitebar-wrapper>       
  </div>
<div class="col-lg-8 col-xl-9 col-xxl-10">
<div class="content-wrappe">
    <div class="row">
      <div class="card">
          <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <h1>TIER - Mission Control</h1>
                </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <a [routerLink]="['/workspaces']"><div  class="card">
                        <img src="assets/one.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Mailboxes</h2>
                        </div>
                      </div></a>
                </div>
                <div class="col-3">
                    <a [routerLink]="['/whitelist']"><div class="card">
                        <img src="assets/documents.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Whitelist</h2>
                        </div>
                      </div></a>
                </div>
                <div class="col-3">
                    <a [routerLink]="['/verify']"><div class="card">
                        <img src="assets/upload.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>File Upload</h2>
                        </div>
                      </div></a>
                </div>
                <div class="col-3">
                    <a [routerLink]="['/forward']"><div class="card">
                        <img src="assets/forward.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Forward to TIER</h2>
                        </div>
                      </div></a>
                </div>                
                <div class="col-3">
                    <a [routerLink]="['/verify']"><div class="card">
                        <img src="assets/dashboard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Dashboard</h2>
                        </div>
                      </div></a>
                </div> 
                <div class="col-3">
                    <a [routerLink]="['/settings']"><div class="card">
                        <img src="assets/settings.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Settings</h2>
                        </div>
                      </div></a>
                </div>                
            </div>
          </div>  
        </div>
    </div>
</div>
</div>
</div>